In [9]:
import pandas as pd
df = pd.read_csv("D:\Study,Courses\Python 100 days of code\pandas\weather_data2.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [27]:
df = pd.read_excel("D:\Study,Courses\Python 100 days of code\pandas\weather_data3.xlsx", "Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [33]:
weather_data = {
    'Day':['21/7/2024','22/7/2024','23/7/2024'],
    'Temprature':[23,25,22],
    'Windspeed':[4,5,3],
    
    'Event':['Rainy','Windy','Foggy']
}
df = pd.DataFrame(weather_data)
df

         Day  Temprature  Windspeed  Event
0  21/7/2024          23          4  Rainy
1  22/7/2024          25          5  Windy
2  23/7/2024          22          3  Foggy

In [36]:
weather_data=[
    ('21/7/2024',4,23,'Rainy'),
    ('22/7/2024',5,25,'Windy'),
    ('23/7/2024',3,22,'Foggy')
]
df=pd.DataFrame(weather_data,columns=["Day","Windspeed","Temprature","Event"])
df

         Day  Windspeed  Temprature  Event
0  21/7/2024          4          23  Rainy
1  22/7/2024          5          25  Windy
2  23/7/2024          3          22  Foggy

In [38]:
weather_date=[
    {'Day':'21/7/2024','Windspeed':3,'Temprature':23,'Event':'Rainy'},
    {'Day':'22/7/2024','Windspeed':4,'Temprature':25,'Event':'Foggy'},
    {'Day':'23/7/2024','Windspeed':5,'Temprature':22,'Event':'Windy'},
]
df=pd.DataFrame(weather_data)
df

           0  1   2      3
0  21/7/2024  4  23  Rainy
1  22/7/2024  5  25  Windy
2  23/7/2024  3  22  Foggy